$font__size__4xl: 5.61rem;
$font__size__3xl: 4.209rem;
$font__size__xxl: 3.157rem;
$font__size__xl: 2.369rem;
$font__size__large: 1.77rem;
$font__size__medium: 1.33rem;
$font__size__normal: 1rem;
$font__size__small: 0.75rem;
$font__size__xsmall: 0.563rem;

$gradient__primary: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
$color__primary: #f6d365;
$color__secondary: #fda085;
$black: #222;
$blue: #000091;
$white: #fff;
$red: #E1000F;