@import '_variables.scss';
@import '_fonts.scss';

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.white {
  color: $white;
  text-shadow: -2px -2px 0 $black,  
                2px -2px 0 $black,
                -2px 2px 0 $black,
                2px 2px 0 $black;
}
